.header {
    height: 10vh;
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    position: sticky;
    z-index: 10;
    top: 0;
}

.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

.logo a {
    color: var(--muted-text-color);
    text-shadow: 0px 0px 4px var(--muted-text-color);
    transition: color 0.5s;
}

.logo a:hover{
    color: var(--accent-text-color-hover);
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation a {
    padding-left: 24px;
    font-size: 1.2rem;
    color: var(--muted-text-color);
    transition: color 0.3s;
}

.navigation a:hover {
    color: var(--accent-text-color);
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: var(--muted-text-color);
    font-size: 20px;
    cursor: pointer;
    outline: none;
    display: none;
}

@media screen and (max-width: 767px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
    }

    .logo {
        margin: 0;
    }

    .navigation {
        display: none;
        flex-direction: column;
        background-color: var(--secondary-bg-color);
        width: 100%;
    }

    .navigation.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}